.scoreBoard {
    height: auto;
    margin: rem(50);
    background-color: black;
}

.scoreBoardItem {
    border: 1px solid white;
}

.teamLogo {
    height: 200px;  
    width: 200px;
}

.teamStats {
    color: white;
    font-size: 50px;
    font-weight: 800;
}

.teamWins {
 height: 100px;
    width: 50px;
}